form {
    --mc: #3b404c;
}

body {}

.Wrap {
    color: #ddd;
    min-width: 1400px;
    background-color: #3b404c;
}

.header {
    line-height: 100px;
    border-bottom: 1px solid #8b8b8b;
}

.header .inner {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header h1 {
    font-size: 0;
}

.header h1 a {}

.header h1 a img {
    width: 190px;
    height: 80px;
}

.header .gnb>ul {
    display: flex;
    gap: 30px;
}

.header .gnb>ul>li {
    font-size: 18px;
}

.header .gnb>ul>li:hover {
    color: #fff;
}

.header .h_icon {
    font-size: 20px;
}

.header .h_icon i:hover {
    color: #fff;
}

.mainVisual {
    position: relative;
    background: #383027;
}

.mainVisual .mainSlide {
    width: 1200px;
    margin: 0 auto;
}

.mainVisual .itm {
    height: 600px;
}

.mainVisual .itm01 {
    background: url(../img06/sub_slide01.jpg) no-repeat center center/cover;
}

.mainVisual .itm02 {
    background: url(../img06/sub_slide02.jpg) no-repeat center center/cover;
}

.mainVisual .arrows {}

.mainVisual .arrows button {
    background: none;
    border: none;
    outline: none;
    font-size: 40px;
    color: #ddd;

    cursor: pointer;
}

.mainVisual .arrows .left {
    position: absolute;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
    margin: 0 0 0 -650px;
}

.mainVisual .arrows .right {
    position: absolute;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
    margin: 0 0 0 650px;
}







.mainSlogan {
    padding: 100px 0;
    background: #252c2c;
}

.mainSlogan .tit {
    text-align: center;
    margin: 0 0 40px 0;
}

.mainSlogan .tit h2 {
    font-size: 30px;
    font-weight: 700;
}

.mainSlogan .inner {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    background: #3b404c;
}

.mainSlogan .inner>div {
    flex: 1;
    padding: 30px;
}

.mainSlogan .inner .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #232936;
}

.mainSlogan .right p {
    font-size: 15px;
    line-height: 23px;
    margin: auto 0 auto 0;
}

.mainSlogan .right span {
    display: block;
    text-align: right;
}

.mainSlogan .right span a {
    display: inline-block;
    padding: 8px 20px 7px 20px;
    border: 1px solid #ddd;
    font-size: 13px;
}

.mainSlogan .right span a:hover {
    color: #fff;
    border: 1px solid #fff;
}

.mainContent {
    padding: 100px 0;
}

.mainContent .tit {
    text-align: center;
    margin: 0 0 40px 0;
}

.mainContent .tit h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 15px 0;
}

.mainContent .tit p {
    font-size: 15px;
}

.mainContent .inner {
    width: 1200px;
    margin: 0 auto;
}

.mainContent ul {
    display: flex;
    gap: 30px;
}

.mainContent ul>li {
    flex: 1;
}

.mainContent .content figure {
    height: 250px;
    overflow: hidden;
}

.mainContent .content figure img {
    min-height: 250px;
}

.mainContent .content .itm02 img {
    margin: -170px 0 0 0;
}

.mainContent .content .itm03 img {
    margin: -160px 0 0 0;
}

.mainContent .content .desc {
    padding: 30px 30px 0 0;
}

.mainContent .content .desc h3 {
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 20px 0;

}

.mainContent .content .desc p {
    font-size: 15px;
    line-height: 23px;
    margin: 0 0 30px 0;
    height: 70px;
}

.mainContent .content .desc span {
    display: block;
    font-size: 13px;
    font-weight: 300;
}

.mainMovie {
    padding: 100px 0;
    background: #252c2c;
}

.mainMovie .tit {
    text-align: center;
    margin: 0 0 40px 0;
}

.mainMovie .tit h2 {
    font-size: 30px;
    font-weight: 700;
}

.mainMovie .inner {
    width: 1200px;
    margin: 0 auto;
}

.mainPhoto {
    padding: 100px 0;
}

.mainPhoto .tit {
    text-align: center;
    margin: 0 0 50px 0;
}

.mainPhoto .tit h2 {
    font-size: 30px;
    font-weight: 700;
}

.mainPhoto .inner {
    width: 1200px;
    margin: 0 auto;
}

.mainPhoto .DressWrap {
    margin: 0 0 90px 0;
}


.mainPhoto .Dress,
.mainPhoto .Suit {
    margin: 0 -15px;
}

.mainPhoto .sub_tit {
    text-align: center;
    margin: 0 0 40px 0;
}

.mainPhoto .sub_tit h3 {
    display: inline-block;
    padding: 10px 20px;
    background: #222;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 15px 0;
    letter-spacing: 2px;
    border-radius: 20px;
}

.mainPhoto .sub_tit p {
    font-size: 15px;
}

.mainPhoto .itm {
    margin: 0 15px;
}

.mainPhoto .itm figure {
    overflow: hidden;
}

.mainPhoto .itm figure img {
    height: 250px;
    width: 100%;
}



.mainPhoto .suit_slide_wrap,
.mainPhoto .dress_slide_wrap {
    position: relative;
}

.mainPhoto .suit_arrows button,
.mainPhoto .dress_arrows button {
    background: none;
    border: none;
    outline: none;
    font-size: 40px;
    color: #ddd;

    cursor: pointer;
}

.mainPhoto .suit_arrows button:hover,
.mainPhoto .dress_arrows button:hover {
    color: #fff;
}

.mainPhoto .suit_arrows .left,
.mainPhoto .dress_arrows .left {
    position: absolute;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
    margin: 0 0 0 -650px;
}

.mainPhoto .suit_arrows .right,
.mainPhoto .dress_arrows .right {
    position: absolute;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
    margin: 0 0 0 650px;
}

.footer {
    padding: 40px 0 60px 0;
    background: rgb(39, 37, 37);
}

.footer .inner {
    width: 1200px;
    margin: 0 auto;
}

.footer .links {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 0 0 30px 0;
}


.footer .links>li {
    font-size: 30px;
}

.footer .links>li:hover {
    color: #fff;
}

.footer .desc {
    text-align: center;
    font-size: 14px;
}

.footer .desc p {
    margin: 0 0 10px 0;
}

.footer .desc em {
    display: block;
    margin: 0 0 10px 0;
}

.footer .desc address {
    margin: 0 0 10px 0;
}