.Wrap {
    color: #ddd;
    min-width: 1400px;
    background-color: #3b404c;
}



.header {
    line-height: 100px;
    border-bottom: 1px solid #8b8b8b;
}

.header .inner {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header h1 {
    font-size: 0;
}

.header h1 a {}

.header h1 a img {
    width: 190px;
    height: 80px;
}

.header .gnb>ul {
    display: flex;
    gap: 30px;
}

.header .gnb>ul>li {
    font-size: 18px;
}

.header .gnb>ul>li:hover {
    color: #fff;
}

.header .gnb .desc {
    display: none;
}

.header .h_icon {
    font-size: 20px;
}

.header .h_icon i:hover {
    color: #fff;
}


@media (max-width:768px) {
    .Wrap {
        color: #ddd;
        min-width: 300px;
        background: #3b404c;
    }

    .cover {
        position: fixed;
        inset: 0 0 auto 0;
        height: 100vh;
        background: rgba(0, 0, 0, 0.7);
        z-index: 999;
        transition: 0.5s;
        opacity: 0;
        visibility: hidden;
    }

    .cover.on {
        opacity: 1;
        visibility: visible;
    }

    .header {
        position: sticky;
        inset: 0 0 auto 0;
        z-index: 999;
        background: #3b404c;
    }

    .header .inner {
        width: auto;
        padding: 0 15px;
    }

    .header .gnb {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: fixed;
        inset: 101px auto 0 -100%;
        width: calc(100% - 150px);
        padding: 15px;
        background: #3f475a;
        z-index: 999;
        transition: 0.5s;
    }

    .header .gnb.on {
        inset: 101px auto 0 0;
    }

    .header .gnb>ul {
        flex-direction: column;
        gap: 0px;
        text-align: center;
    }

    .header .gnb>ul>li {
        line-height: 40px;
    }

    .header .gnb .desc {
        display: block;
        line-height: 1;
        padding: 100px 0;
        text-align: center;
        border-top: 1px solid #8b8b8b;
    }

    .header .gnb .desc em {
        display: block;
        font-size: 25px;
        font-size: 700;
        margin: 0 0 20px 0;
    }

    .header .gnb .desc p {
        font-size: 17px;
        font-weight: 300;
    }
}


















.mainVisual {
    position: relative;
    background: #383027;
}

.mainVisual .mainSlide {
    width: 1200px;
    margin: 0 auto;
}

.mainVisual .itm {
    height: 600px;
}

.mainVisual .itm01 {
    background: url(../img06/sub_slide01.jpg) no-repeat center center/cover;
}

.mainVisual .itm02 {
    background: url(../img06/sub_slide02.jpg) no-repeat center center/cover;
}

.mainVisual .arrows {}

.mainVisual .arrows button {
    background: none;
    border: none;
    outline: none;
    font-size: 40px;
    color: #ddd;

    cursor: pointer;
}

.mainVisual .arrows .left {
    position: absolute;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
    margin: 0 0 0 -650px;
}

.mainVisual .arrows .right {
    position: absolute;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
    margin: 0 0 0 650px;
}


@media (max-width:768px) {
    .mainVisual {
        position: relative;
        background: #383027;
    }

    .mainVisual .mainSlide {
        width: auto;
        margin: 0 auto;
    }

    .mainVisual .itm {
        height: auto;
        min-height: 350px;
    }

    .mainVisual .arrows {
        display: none;
    }
}







.mainSlogan {
    padding: 100px 0;
    background: #252c2c;
}

.mainSlogan .tit {
    text-align: center;
    margin: 0 0 40px 0;
}

.mainSlogan .tit h2 {
    font-size: 30px;
    font-weight: 700;
}

.mainSlogan .inner {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    background: #3b404c;
}

.mainSlogan .inner>div {
    flex: 1;
    padding: 30px;
}

.mainSlogan .inner .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #232936;
}

.mainSlogan .right p {
    font-size: 15px;
    line-height: 23px;
    margin: auto 0 auto 0;
}

.mainSlogan .right span {
    display: block;
    text-align: right;
}

.mainSlogan .right span a {
    display: inline-block;
    padding: 8px 20px 7px 20px;
    border: 1px solid #ddd;
    font-size: 13px;
}

.mainSlogan .right span a:hover {
    color: #fff;
    border: 1px solid #fff;
}


@media (max-width:768px) {
    .mainSlogan {
        padding: 100px 15px;
    }

    .mainSlogan .inner {
        width: auto;
        display: flex;
        flex-direction: column;
    }

    .mainSlogan .inner .right {
        text-align: center;
    }

    .mainSlogan .right p {
        font-size: 14px;
        line-height: 22px;
        margin: auto 0 30px 0;
    }

    .mainSlogan .right span {
        text-align: center;
    }

    .mainSlogan .right span a {
        padding: 8px 15px 7px 15px;
        font-size: 13px;
    }
}
















.mainContent {
    padding: 100px 0;
}

.mainContent .tit {
    text-align: center;
    margin: 0 0 40px 0;
}

.mainContent .tit h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 15px 0;
}

.mainContent .tit p {
    font-size: 15px;
}

.mainContent .inner {
    width: 1200px;
    margin: 0 auto;
}

.mainContent ul {
    display: flex;
    gap: 30px;
}

.mainContent ul>li {
    flex: 1;
}

.mainContent .content figure {
    height: 250px;
    overflow: hidden;
}

.mainContent .content figure img {
    min-height: 250px;
}

.mainContent .content .itm02 img {
    margin: -170px 0 0 0;
}

.mainContent .content .itm03 img {
    margin: -160px 0 0 0;
}

.mainContent .content .desc {
    padding: 30px 30px 0 0;
}

.mainContent .content .desc h3 {
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 20px 0;

}

.mainContent .content .desc p {
    font-size: 15px;
    line-height: 23px;
    margin: 0 0 30px 0;
    height: 70px;
}

.mainContent .content .desc span {
    display: block;
    font-size: 13px;
    font-weight: 300;
}


@media (max-width:768px) {

    .mainContent .inner {
        width: auto;
        padding: 0 15px;
    }

    .mainContent ul {
        flex-direction: column;
    }

    .mainContent .content figure {
        height: auto;
        overflow: hidden;
    }

    .mainContent .content figure img {
        min-height: auto;
    }

    .mainContent .content .itm02 img {
        margin: 0 0 0 0;
    }

    .mainContent .content .itm03 img {
        margin: 0 0 0 0;
    }

    .mainContent .content .desc {
        padding: 30px;
        background: #232936;
        text-align: center;
    }


    .mainContent .content .desc p {
        height: auto;
    }
}







.mainMovie {
    padding: 100px 0;
    background: #252c2c;
}

.mainMovie .tit {
    text-align: center;
    margin: 0 0 40px 0;
}

.mainMovie .tit h2 {
    font-size: 30px;
    font-weight: 700;
}

.mainMovie .inner {
    width: 1200px;
    margin: 0 auto;
}

/* .mainMovie .videoWrap {
    position: relative;
} */

/* .mainMovie .video_cover {
    content: "";
    position: absolute;
    inset: 0 auto auto 0;
    width: 100%;
    height: 60px;
    background: #000;
} */


@media (max-width:768px) {
    .mainMovie {}

    .mainMovie .inner {
        width: auto;
        padding: 0 15px;
    }

    .mainMovie iframe {
        height: 100vw;
    }
}









.mainPhoto {
    padding: 100px 0;
}

.mainPhoto .tit {
    text-align: center;
    margin: 0 0 50px 0;
}

.mainPhoto .tit h2 {
    font-size: 30px;
    font-weight: 700;
}

.mainPhoto .inner {
    width: 1200px;
    margin: 0 auto;
}

.mainPhoto .DressWrap {
    margin: 0 0 90px 0;
}


.mainPhoto .Dress,
.mainPhoto .Suit {
    margin: 0 -15px;
}

.mainPhoto .sub_tit {
    text-align: center;
    margin: 0 0 40px 0;
}

.mainPhoto .sub_tit h3 {
    display: inline-block;
    padding: 10px 20px;
    background: #222;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 15px 0;
    letter-spacing: 2px;
    border-radius: 20px;
}

.mainPhoto .sub_tit p {
    font-size: 15px;
}

.mainPhoto .itm {
    margin: 0 15px;
}

.mainPhoto .itm figure {
    overflow: hidden;
}

.mainPhoto .itm figure img {
    height: 270px;
    width: 100%;
}



.mainPhoto .suit_slide_wrap,
.mainPhoto .dress_slide_wrap {
    position: relative;
}

.mainPhoto .suit_arrows button,
.mainPhoto .dress_arrows button {
    background: none;
    border: none;
    outline: none;
    font-size: 40px;
    color: #ddd;

    cursor: pointer;
}

.mainPhoto .suit_arrows button:hover,
.mainPhoto .dress_arrows button:hover {
    color: #fff;
}

.mainPhoto .suit_arrows .left,
.mainPhoto .dress_arrows .left {
    position: absolute;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
    margin: 0 0 0 -650px;
}

.mainPhoto .suit_arrows .right,
.mainPhoto .dress_arrows .right {
    position: absolute;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
    margin: 0 0 0 650px;
}










@media (max-width:768px) {



    .mainPhoto .inner {
        width: auto;
        padding: 0 15px;
    }


    .mainPhoto .Dress,
    .mainPhoto .Suit {
        margin: 0 0;
        overflow: hidden;
    }


    .mainPhoto .sub_tit p {
        font-size: 15px;
        line-height: 23px;
    }

    .mainPhoto .itm {
        margin: 0 0;
    }

    .mainPhoto .itm figure {
        overflow: hidden;
    }

    .mainPhoto .itm figure img {
        height: 65vw;
        width: 100%;
    }



    .mainPhoto .suit_slide_wrap,
    .mainPhoto .dress_slide_wrap {
        position: relative;
    }

    .mainPhoto .suit_arrows button,
    .mainPhoto .dress_arrows button {
        font-size: 30px;
        color: #ddd;
    }


    .mainPhoto .suit_arrows .left,
    .mainPhoto .dress_arrows .left {
        position: absolute;
        inset: 50% auto auto 0;
        transform: translate(0, -50%);
        margin: 0 0 0 0;
        text-shadow: 0 0 3px #000;
    }

    .mainPhoto .suit_arrows .right,
    .mainPhoto .dress_arrows .right {
        position: absolute;
        inset: 50% 0 auto auto;
        transform: translate(0, -50%);
        margin: 0 0 0 0;
        text-shadow: 0 0 3px #000;
    }





}












.footer {
    padding: 40px 0 60px 0;
    background: rgb(39, 37, 37);
}

.footer .inner {
    width: 1200px;
    margin: 0 auto;
}

.footer .links {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 0 0 30px 0;
}


.footer .links>li {
    font-size: 30px;
}

.footer .links>li:hover {
    color: #fff;
}

.footer .desc {
    text-align: center;
    font-size: 14px;
}

.footer .desc p {
    margin: 0 0 10px 0;
}

.footer .desc em {
    display: block;
    margin: 0 0 10px 0;
}

.footer .desc address {
    margin: 0 0 10px 0;
}

@media (max-width:768px) {

    .footer .inner {
        width: auto;
    }


}

.toTop {
    position: fixed;
    inset: auto 50px 50px auto;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.toTop a {
    display: block;
    padding: 10px;
    background: #0f0a36;
    font-size: 25px;
}

.toTop.on {
    opacity: 1;
    visibility: visible;
}